/a.*
*.o
*.a
*.Po
/data/
/web/data/
/config.log
/config.status
/Makefile
/src/Makefile
/src/SDL_gfx/Makefile
/src/effect/Makefile
/src/game/Makefile
/src/gengine/Makefile
/src/level/Makefile
/src/menu/Makefile
/src/option/Makefile
/src/plan/Makefile
/src/state/Makefile
/src/widget/Makefile
